# Gradle
.gradle/
build/
local.properties
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/

# Android
*.apk
*.aab
output-metadata.json
!releases/*.apk
!releases/*.aab
!releases/*.zip

# Kotlin
*.kotlin_module

# Generated
app/build/
.DS_Store
